---
const pageTitle = "About Page";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about">About</a>

		<h1>{pageTitle}</h1>
        <p>This project is currently under construction as I complete the Astro tutorial!</p>
        <p>Make sure to check back soon...</p>
	</body>
</html>
