---
import "../styles/global.css";
const pageTitle = "Landing Page";

const commonCategories = ["Italian", "American", "Asian"]
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
        <style>

            h1 {
                font-size: 24px;
            }

            .landing-header {
                display: flex;
                justify-content: space-evenly;
                align-items: start;
            }

            .auth {
                margin: 0 5px;
                padding: 8px;
                transition: background-color .15s ease;
            }

            .auth:hover {
                color: var(--text-color);
            }

            .auth-login {
                border: 2px solid white;
                border-radius: 8px;
            }

            .auth-login:hover {
                background-color: rgba(255,255,255,.3);
            }
            
            .auth-signup {
                background-color: #5B9279;
                border: 2px solid #5B9279;
                border-radius: 8px;
            }

            .auth-signup:hover {
                background-color: #5B9279CA;
            }

            .search-container {
                width: 600px;
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 20px;
            }

            .pseudo-input-container {
                width: 500px;
                height: 20px;
                display: flex;
                align-items: center;
                padding: 8px;
                background-color: white;
                border: 2px solid white;
                border-radius: 8px;
            }

            #search-input {
                border: 0px;
                outline: none;
            }

            .common-categories {
                margin: 12px;
                padding: 8px 20px 12px 0;
                transition: border-bottom .15s ease;
            }

            .common-categories:hover {
                border-bottom: 4px solid #5B9279;
            }

            .hover-arrow {
                position: absolute;
                fill: white;
            }

        </style>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <header>
            <div class="landing-header">
                <div>
                    <h1><a href="/">Tastebud</a></h1>
                </div>
                <div class="search-container">
                    <div class="pseudo-input-container">
                        <input 
                            type="text" 
                            name="search-input" 
                            id="search-input"
                            placeholder="What suits your taste today?"
                        />
                    </div>
                    <div>
                        {commonCategories.map((category) => ( 
                            <a 
                                href="#" 
                                class="common-categories no-hover"
                            >
                                {category}
                                <span class="hover-arrow">
                                    <svg width="24" height="24">
                                        <path d="M12 15.25a1 1 0 01-.7-.29l-4.58-4.5A1.011 1.011 0 018.12 9L12 12.85 15.88 9a1 1 0 111.4 1.42L12.7 15a1 1 0 01-.7.25z"></path>
                                    </svg>
                                </span>
                            </a>
                        ))}
                    </div>
                </div>
                <div>
                    <a href="#" class="auth auth-login">Log In</a>
                    <a href="#" class="auth auth-signup">Sign Up</a>
            </div>
        </header>
	</body>
</html>
